.container {
    padding: 15px;
    max-width: 700px;
    min-width: 600px;
    min-height: 100px;
    max-height: 1500px;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.flex {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.element-center {
    margin: 0 auto;
}

.item {
    flex: 1 1 auto;
    margin: 0 5px;
}

.invalid {
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.7);
    border: #ff000b;
}

tr:nth-child(odd) {
    background-color: lightgrey;
}

tr:nth-child(even) {
    background-color: wheat;
}

.cleaning-button {
    background: none;
    border: none;
    cursor: pointer;
    outline: inherit;
}

.cleaning-button:before {
    content: "\2718";
    color: red;
}

.right-table {
    margin-left: 5px;
}